.search {
    display: flex;
    width: 100%;
    gap: 0.625rem;
    margin-bottom: 1.25rem;
}

.search__wrapper {
    position: relative;
    flex: 1;
    display: flex;
}

.search__wrapper img {
    position: absolute;
    top: 0.75rem;
    left: 0.625rem;
}

.search__input {
    background: #DEDEDE;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.9375rem 1.875rem 0.9375rem 3.125rem;
    flex: 1;
    color: #252525;
}

.search__input::placeholder {
    color: #494949;
}

.search button {
    border: none;
    background: var(--black);
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}